#Systemd file for Digital Ocean dynamic dns service

[Unit]
Description=Digital Ocean dynamic dns script

[Service]
Type=simple
User=USER
Group=USER
WorkingDirectory=/usr/local/etc/digital-ocean
ExecStart=/usr/local/etc/digital-ocean/digital-ocean-dns-updater.py

[Install]
WantedBy=multi-user.target
